* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: rgba(0, 0, 0, 0.2);
}

.page-content {
	margin: 20px;
	padding: 10px;
	background-color: white;
	text-align: center;
}

.controls-container {
	margin: auto;
	padding: 3px;
}

.controls-container > table {
	display: inline-block;
}

.controls-container > table button {
	width: 40px;
	height: 40px;
	border: none;
	background-color: rgba(0, 0, 0, 0.05);
	font-family: u2000;
	font: 12px Arial,Helvetica,sans-serif;
}

.controls-container > table button:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.controls-container > .input input {
	height: 30px;
}

.playlist-container {
	background-color: rgba(0,0,0,0.05);
	width: 70%;
	margin: auto auto 20px;
	max-height: 400px;
	overflow: auto;
}

ol#playlist {
	margin: 0 auto;
	list-style-position: inside;
	text-align: left;
}

ol#playlist > li > button {
	width: 60px;
	border: 1px solid black;
	background-color: rgba(0, 0, 0, 0.05);
	margin: 1px;

}