body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: rgba(0,0,0,0.5);
	height: 100vh;
}

.vertical-container {
	display: -webkit-flex;
	display: -ms-flex;
	display: -moz-flex;
	display: flex;

}

.player {
	margin: auto;
	background-color: black;	
	color: white;
	padding: 3px;
	text-align: center;
}

.player > table {
	display: inline-block;
}

#playlist {
	margin: 0 auto;
	width: 70%;
	background-color: rgba(0,0,0,0.05);
}

h3 {
	text-align: center;
}
