* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: rgba(0, 0, 0, 0.2);
}

.page-content {
	margin: 20px;
	padding: 10px;
	background-color: white;
	text-align: center;
}

.controls-container {
	margin: auto;
	padding: 3px;
}

.controls-container > table {
	display: inline-block;
}

.controls-container > table button {
	width: 40px;
	height: 40px;
	border: none;
}

.controls-container > .input input {
	height: 30px;
}

.playlist-container {
	background-color: rgba(0,0,0,0.05);
	width: 70%;
	margin: auto;
	margin-bottom: 20px;
	max-height: 400px;
	overflow: auto;
}

#playlist {
	margin: 0 auto;
	list-style-position: inside;
	text-align: left;
}

h3 {
	text-align: center;
}
